{
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "parser": "flow",
    "printWidth": 100,
    "semi": false,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "none",
    "useTabs": false,
    "arrowParens": "avoid",
    "overrides": [
      {
        "files": "*.json",
        "options": {
          "parser": "json"
        }
      }
    ]
  }